<section class="page-section advantages" id="advantages">
    <div class="container">
        <h2 class="title">Наши преимущества</h2>
        <div class="row justify-content-center advantages__list">
            <div class="col-lg-4 col-md-6 advantages__item box box--white">
                <div class="advantages__img">
                    <img src="assets/img/advantages/piggy-bank.png" alt="Картинка 1">
                </div>
                <h3 class="advantages__title">Низкая цена</h3>
                <p class="advantages__text">Мы сотрудничаем напрямую
                    с производителем, поэтому можем гарантировать самую низкую цену.</p>
            </div>
            <div class="col-lg-4 col-md-6 advantages__item box box--white">
                <div class="advantages__img">
                    <img src="assets/img/advantages/van.png" alt="Картинка 2">
                </div>
                <h3 class="advantages__title">Быстрая доставка</h3>
                <p class="advantages__text">Весь товар уже находится на нашем складе. Нам остается только погрузить его
                    и в путь!</p>
            </div>
            <div class="col-lg-4 col-md-6 advantages__item box box--white">
                <div class="advantages__img">
                    <img src="assets/img/advantages/wheelbarrow.png" alt="Картинка 3">
                </div>
                <h3 class="advantages__title">Индивидуальный подход</h3>
                <p class="advantages__text">Вам нужны бесперебойные поставки
                    или большая партия товара со скидкой?
                    Мы найдем решение! </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.advantages -->