<section class="contacts" id="contacts">
    <div class="contacts__map">
        
    </div>
    <div class="container">
        <div class="contacts__card">
            <h3 class="contacts__title">Контакты</h3>
            <div class="contacts__phone">
                <a href="tel:88000342334" class="contacts__phone-num">8 800 034-23-34</a>
                <a href="tel:84950342334" class="contacts__phone-num">8 495 034-23-34</a>
            </div>
            <div class="contacts__address">
                <p>Московская обл. г. Балашиха, <br>
                    пер. Столовой, д.23, кор. 34</p>
            </div>
            <div class="contacts__mail">
                <a href="mailto:Info@stroika.ru">Info@stroika.ru</a>
            </div>
        </div>
    </div>
</section>
<!-- /.contacts -->