<section class="delivery" id="delivery">
    <div class="delivery__slider">
        <div class="delivery__slide">
            <div class="delivery__overlay">
                <img src="assets/img/slider/slide-bg-01.jpg" alt="01">
            </div>
            <div class="delivery__content">
                <div class="container">
                    <h1>быстрая Доставка</h1>
                    <p>
                        бетона, щебня, песка
                        и других нерудных материалов
                        по Москве и Московской области
                    </p>
                    <div class="delivery__more">
                        <button class="btn delivery__more-btn">Подробнее о доставке</button>
                        <span>или</span>
                        <a href="#" class="delivery__more-link">перейти в каталог</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery__slide">
            <div class="delivery__overlay">
                <img src="assets/img/slider/slide-bg-02.png" alt="02">
            </div>
            <div class="delivery__content">
                <div class="container">
                    <h1>быстрая Доставка</h1>
                    <p>
                        бетона, щебня, песка
                        и других нерудных материалов
                        по Москве и Московской области
                    </p>
                    <div class="delivery__more">
                        <button class="btn delivery__more-btn">Подробнее о доставке</button>
                        <span>или</span>
                        <a href="#" class="delivery__more-link">перейти в каталог</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery__slide">
                <div class="delivery__overlay">
                    <img src="assets/img/slider/slide-bg-03.jpg" alt="03">
                </div>
                <div class="delivery__content">
                    <div class="container">
                        <h1>быстрая Доставка</h1>
                        <p>
                            бетона, щебня, песка 
                            и других нерудных материалов 
                            по Москве и Московской области
                        </p>
                        <div class="delivery__more">
                            <button class="btn delivery__more-btn">Подробнее о доставке</button>
                            <span>или</span>
                            <a href="#" class="delivery__more-link">перейти в каталог</a>   
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- /.delivery -->