<section class="page-section popular" id="popular">
    <div class="container">
        <h2 class="title">Популярные товары</h2>
        <div class="row justify-content-center popular__list">
            <div class="col-lg-3 popular__item box box--gray">
                <div class="popular__img">
                    <img src="assets/img/popular-product/popular-product-01.png" alt="Картинка 1">
                </div>
                <h3 class="popular__title">Гранитный щебень 5-20 мм</h3>
                <div class="popular__price">
                    <span class="popular__price-old">1 500 р./т</span>
                    <span class="popular__price-new">1 350 р./т</span>
                </div>
                <button class="btn popular__btn">Купить</button>
            </div>
            <div class="col-lg-3 popular__item box box--gray">
                <div class="popular__img">
                    <img src="assets/img/popular-product/popular-product-02.png" alt="Картинка 2">
                </div>
                <h3 class="popular__title">Гранитный щебень 5-20 мм</h3>
                <div class="popular__price">
                    <span class="popular__price-old">1 500 р./т</span>
                    <span class="popular__price-new">1 350 р./т</span>
                </div>
                <button class="btn popular__btn">Купить</button>
            </div>
            <div class="col-lg-3 popular__item box box--gray">
                <div class="popular__img">
                    <img src="assets/img/popular-product/popular-product-03.png" alt="Картинка 3">
                </div>
                <h3 class="popular__title">Гранитный щебень 0-5 мм (отсев)</h3>
                <div class="popular__price">
                    <span class="popular__price-new">1 350 р./т</span>
                </div>
                <button class="btn popular__btn">Купить</button>
            </div>
            <div class="col-lg-3 popular__item box box--gray">
                <div class="popular__img">
                    <img src="assets/img/popular-product/popular-product-04.png" alt="Картинка 3">
                </div>
                <h3 class="popular__title">Гранитный щебень 5-20 мм</h3>
                <div class="popular__price">
                    <span class="popular__price-new">1 350 р./т</span>
                </div>
                <button class="btn popular__btn">Купить</button>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.popular -->