<section class="page-section product" id="product">
    <div class="container">
        <h2 class="title">Всегда в наличии</h2>
        <div class="row justify-content-center product__list">
            <div class="col-lg-4 col-md-6 product__item box box--gray">
                <div class="product__img">
                    <img src="assets/img/product/sand.png" alt="Песок">
                </div>
                <div class="product__content">
                    <a href="#" class="product__content-title">Песок речной</a>
                    <p class="product__content-text">Мелкий речной песок повышает прочность, долговечность и
                        морозоустойчивость растворов, в состав которых он входит. </p>
                    <span class="product__content-price">от 330 р./т</span>
                    <button type="submit" class="btn product__content-btn">Подробнее</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 product__item box box--gray">
                <div class="product__img">
                    <img src="assets/img/product/rubble.png" alt="Щебень">
                </div>
                <div class="product__content">
                    <a href="#" class="product__content-title">Щебень</a>
                    <p class="product__content-text">Мелкий речной песок повышает прочность, долговечность и
                        морозоустойчивость растворов, в состав которых он входит. </p>
                    <span class="product__content-price">от 330 р./т</span>
                    <button type="submit" class="btn product__content-btn">Подробнее</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 product__item box box--gray">
                <div class="product__img">
                    <img src="assets/img/product/ground.png" alt="Земля">
                </div>
                <div class="product__content">
                    <a href="#" class="product__content-title">Грунт
                    </a>
                    <p class="product__content-text">Мелкий речной песок повышает прочность, долговечность и
                        морозоустойчивость растворов, в состав которых он входит. </p>
                    <span class="product__content-price">от 330 р./т</span>
                    <button type="submit" class="btn product__content-btn">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.product -->