<section class="page-section services" id="services">
    <div class="container">
        <h2 class="title">Наши услуги</h2>
        <div class="row justify-content-center services__list">
            <div class="col-lg-4 services__item box box--white">
                <div class="services__img">
                    <img src="assets/img/services/services-01.png" alt="Картинка 1">
                </div>
                <a href="#" class="services__title">Аренда самосвала</a>
            </div>
            <div class="col-lg-4 services__item box box--white">
                <div class="services__img">
                    <img src="assets/img/services/services-02.png" alt="Картинка 2">
                </div>
                <a href=# class="services__title">Аренда спецтехники</a>
            </div>
            <div class="col-lg-4 services__item box box--white">
                <div class="services__img">
                    <img src="assets/img/services/services-03.png" alt="Картинка3 ">
                </div>
                <a href="#" class="services__title">Рытье траншеи</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.services -->